*{
    margin: 0px;
    padding: 0px;
    user-select: none;
}  

body{
    background: black;
    color: white;
    font-family: 'Anonymous Pro', Courier, monospace;
    font-size: 12px;
    padding: 0px 10px;
    overflow: hidden;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    font-style: italic;
    text-decoration: underline;
}

li{
    cursor: pointer;
    list-style-type: square
}

img{
    margin: 0 0 200px;
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    padding: 20px 0px;
}

.wrapper{
    display: inline-grid;
    padding: 0px 20px;
    grid-template-columns: .2fr 1fr .2fr;
    grid-gap: 0;
    z-index: 1;
    /* border: 1px solid white; */
}

.heading{
    padding: 10px;
}
.head-1{
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.head-2{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.head-3{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.content{
    padding: 20px;
    height: 100vh;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}

.side{
    position: relative;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.main{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;  
}

.main-image-sticky-1{
    position: sticky;
    top: 0;
}
.main-image-sticky-2{
    position: sticky;
    top: 0;
}
.main-image-sticky-3{
    position: sticky;
    top: 0;
}
.main-image-sticky-4{
    position: sticky;
    top: 0;
}
.main-image-sticky-5{
    position: sticky;
    top: 0;
}
.main-image-sticky-6{
    position: sticky;
    top: 0;
}
.main-image-sticky-7{
    position: sticky;
    top: 0;
}
.main-image-sticky-7L{
    position: sticky;
    top: 0;
}
.main-image-sticky-7S{
    position: sticky;
    top: 0;
}
.main-image-sticky-8{
    position: sticky;
    top: 0;
}

.description{
    position: relative;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.description>span{
    visibility: hidden;
    color: white;
    border: none;
    position: absolute;
}

.DTwo{
    padding: 20px;
}

.scrollCount{
    visibility: visible;
    position: absolute;
    bottom: 20px;
    left: 20px;
}



.menu{
    position: relative;
}
.menu>li{
    margin: 10px 0px;
}

.sub{
    padding: 0px 20px;
}
.sub>li{
    padding: 0 0 10px;
}
.sub>li:hover{
    font-style: italic;
    text-decoration: underline;
}

.jump:hover{
    font-style: italic;
    text-decoration: underline;
}

.top{
    position: absolute;
    display:list-item;
    margin-left: 1.3em;
    list-style-type: square;
    bottom: 40px;
    left: 10px;
}
.bottom{
    position: absolute;
    display:list-item;
    margin-left: 1.3em;
    list-style-type: square;
    bottom: 20px;
    left: 10px;
}


::-webkit-scrollbar{
    width: 5px;
    background:black;
}

::-webkit-scrollbar-thumb{
    background: red;
}

.button{
    position: absolute;
    left: 95vw;
    top: 10px;
    padding: 5px;
    color: black;
    background: red;
    transition: 1ms;
}

.button:hover{
    color: white;
}

#mainScene {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    padding: 19px;
    grid-gap: 1em;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    overflow: hidden;
    /* border: 1px solid red; */
     }

#mainScene video{
    border: 1px solid white;    
    position: relative;
    width: 450px !important;
    height: auto !important;
}

.Statement{
    position: absolute;
    visibility: hidden;
    width: 70vw;
    height: 70vh;
    left: 15%;
    top: 15%;
    z-index: 0;
}